body
{
	 font-family: "Avenir Next";
}
.header{
	background-color:aqua;
	height: 150px;
}
li{
	list-style: none;
}
}
.header-logo{
	float:left;
	padding:20px 15px;

	}

.header-list li{
	float:left;
	font-size:28px;
	padding: 20px 20px;
	text-align: center;
	margin-top:40px;

}
.search{
	text-align: center;
	font-size: 22px;
	
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;

  
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*.header-right a {
  line-height: 150px;
  padding: 0 25px;
  color: black;
  display: block;
  font-size:20px;
}*/
.login{

	font-size: 15px;
	color:white;
	background-color: #228B22;
	width: 40px;
	height: 20px;
	padding:12px 20px; 
	border-radius: 5px;
	display: inline-block;
	margin-top:60px;
	margin-right:20px;

}
.Login-btn:hover
{
   opacity: 0.7;
}

main
{
    background-color:#F8F8FF;
    height: 2100px;
    background-color: #E6E6FA;
    
       
}


.header-top-wrapper 
{
	

	font-family: cursive;
   font-size: 70px;
    padding-left: 30px;
    padding-top:30px;
    text-align: center;
}
.block1
{
	margin-top:50px;
	margin-left: 100px;
	background-color: #F8F8FF;
	height: 400px;
	width:600px;
	
	float:left;
}
.block1-1
{
	padding-left: 100px;
	font-size: 30px;
}
.block1-2
{
	padding-left: 100px;
	font size:20px;
}
.block1-btn
{ 
    margin-left: 15px;
    margin-right: 25px;
	padding:2px 8px;  
	font-size: 20px;
	color: white;
	background-color:rgba(34 ,139 ,34,1); 
    border-radius: 5px;
    height: 40px;
    width: 80px;
    text-align: center;

}
.block1-3 
{
	border-radius: 7px;
  background-color: #228B22;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 60px  40px;
}
.block1-3 span
{
	 cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.block1-3 span:after
{
	 content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}
.block1-3:hover span {
  padding-right: 25px;
}

.block1-3:hover span:after {
  opacity: 1;
  right: 0;
}

.block1-btn:hover
{
	opacity: 0.8;
}
.block1-image-1
{
	height:300px; 
	width:300px;
    padding-top:70px ;
    padding-left:100px ;
    border-radius: 150px;

}

.block2-image1 
{
	 border-radius: 2500px;
    height:400px; 
	width:400px;
	padding-top: 150px;
	padding-left: 90px;
	padding-right: 250px;
	float: left;
}
.block2
{
	width: 600px;
	height: 500px;
	background-color:#F8F8FF;
	margin-left: 700px;
	margin-top: 170px;
}
.block2-1
{
	font-size: 30px;
	padding-top: 12px;
	padding-left:80px;
}
.block2-btn
{
	text-align: center;
	font-size: 20px;
	background-color:#228B22;
	width: 100px;
	height: 40px;
	padding: 4px 20px;
	color: white;
	margin-right:40px; 
	border-radius: 8px;
}
.block2-btn:hover
{
	opacity: 0.8;
}
.last-wrapper
{
	height:470px;
	background-color: #F0F8FF;
}

.last-image1 
{
	float: left;
	cursor: pointer;
}
.last-image2 
{
	float: left;
	cursor: pointer;
}
.last-image3
{
	cursor: pointer;
}
.last-image1:hover
{
	opacity:0.85;
}
.last-image2:hover
{
	opacity:0.85;
}
.last-image3:hover
{
	opacity:0.85;
}

.last-wrapper p
{
	font-size: 25px;
	font-weight: bold;
	text-align: center;

}
.last-wrapper img
{
    padding-top: 70px;
    padding-right:40px ;
    padding-left: 35px; 
}
.other p
{
   font-size: 30px;
   font-weight: bold;
   padding-left: 100px;
}
.button {
  padding: 15px 25px;
  margin-left:120px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #228B22;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px 0px #999 ,0px 2px 10px #222222;
  float: left;
  }
  .button:hover 
  {
  	background-color: #3e8e41
  }

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.other1
{
	padding-top: 
	float: left;
}
.other2
{
	padding-left: 400px;
	
}

footer
{
	height: 300px;
	background-color: #708090;
}
.footer-logo
{
	padding-left: 60px;
	padding-top: 70px;
	float: left;
}
.footer-logo img
{
	padding-right:20px; 
   height:50px;
   width:110px; 
}
.footer-logo p
{
   font-size:20px; 
}
li
{
	list-style: none;
}
.first-list
{
	padding-left: 150px;
	margin-right:50px; 
	padding-top: 90px;
	float: left;
}
.second-list
{
	margin-right:50px; 
	padding-top: 105px;
	float: left;
}
.third-list
{
   padding-left: 40px;
	padding-top: 105px;
    
}









